// Colors
$dark-grey: #333333;
$grey: #666;
$light-grey: #6c757d;
$off-white: #f7f7f7;
$blue: #1c88bf;
$dark-blue: #364051;
$border-color: rgba(0, 0, 0, 0.125);

// Font Sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$xs-size: 0.3rem;
$s-size: 0.75rem;
$m-size: 1rem;
$l-size: 2rem;
$xl-size: 3rem;
$desktop-breakpoint: 28rem;
